@model IEnumerable<crud_web.Models.Cliente>

@{
    ViewBag.Title = "Gerenciamento de Clientes";
}

<h2>Gerenciamento de Clientes</h2>

<p>
    @Html.ActionLink("Novo cliente", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Nome
        </th>
        <th>
            Data de Nascimento
        </th>
        <th>
            Telefone
        </th>
        <th>
            Email
        </th>
        <th>
            Cidade
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_nascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cidade)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalhar", "Details", new { id=item.id }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
